/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header stays above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--background-color), var(--color6));
    padding: 10px 20px;
    border: 3px solid; /* Add a full outer border */
    border-image: linear-gradient(to right, var(--color1), var(--color6)) 0;
    opacity: 0.9;
    border-radius: 5vw 0 0 5vw; /* Rounded corners only on the left side */
    box-shadow: 0 8px 8px var(--color6);
    overflow: hidden; /* Ensure the border-radius is applied to the border image */
    height: 80px; /* Set a fixed height for the header */
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.737); /* White overlay with 50% opacity */
    z-index: -1; /* Ensure the overlay stays behind the header content */
    border-radius: 5vw 0 0 5vw; /* Rounded corners only on the left side */
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo h1 {
    margin: 0;
    margin-right: 10px;
    font-family: 'PlanetViewDemoRegular', sans-serif;
    font-size: 3em;
    background: linear-gradient(to right, var(--color1), var(--color6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px var(--title-shadow);
    transition: background 2s linear;
}

.logo-image {
    width: 100px;
    height: auto;
}

/* Navigation Container */
.nav-container {
    display: flex;
    gap: 10px;
    padding-right: 40px; /* Add padding to the right to prevent collision with the screen edge */
}

.button {
    background-color: linear-gradient(to right, var(--background-color), var(--color6));
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 2px var(--color1);
}

.button.secondary {
    background-color: rgb(241, 232, 255);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 2px var(--color1);
}

.button.highlight {
    background-color: var(--highlight-color);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 2px var(--color1);
}

.button:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
}