/* Login Page Styles */
#login {
    padding: 12vh;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15vh;
    max-width: 40vh;
    margin-left: auto;
    margin-right: auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login h2 {
    margin-bottom: 20px;
    text-align: center;
}

#login p {
    font-size: 1.2em;
    text-align: center;
}

form.horizontal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--highlight-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
}

button[type="submit"]:hover {
    background-color: var(--secondary-color);
}

.feedback {
    margin-top: 10px;
    font-size: 1em;
    color: green;
    text-align: center;
}